.square {
    display: inline-block;
    height: 70px;
    width: 70px;
    margin: 10px;
    float: left;
    border-radius: 5px;
}

.squareClose {
    background: darkgray;
}
.squareOpen {
    background: #ffffff;
}

.ring {
    font-size: 50px;
    font-weight: bold;
    margin: auto;
    line-height: 60px;
    color: darkgray;
}