.App {
  text-align: center;
  width: 540px;
  height: 540px;
  margin: 20px auto;
  border: 3px solid darkgray;
  padding: 10px;
  border-radius: 10px;
}

.container {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

.square {
  display: inline-block;
  height: 70px;
  width: 70px;
  margin: 10px;
  float: left;
  border-radius: 5px;
}

.squareClose {
  background: darkgray;
}
.squareOpen {
  background: #ffffff;
}
.tries {
  font-size: 20px;
  font-weight: bold;
  color: #7d7c7c;
}

.ring {
  font-size: 50px;
  font-weight: bold;
  margin: auto;
  line-height: 60px;
  color: darkgray;
}